@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Josefin+Sans&family=Merriweather:wght@300;400&family=Playfair+Display&family=Volkhov&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    
}

#nav{
    position: sticky;
    top:0;
    left:0%;
    z-index:100;
    padding: .1rem 1rem;
    background: white;
 
    
}

#navbarSupportedContent a{
    color: 0ccbff;
    border-bottom: 2px solid transparent;
}

#navbarSupportedContent a:hover{
    border-bottom: 2px solid #0ccbff;
}

section{
    width: 100%;
   
    min-height: 100vh;
    display: flex;
    
    

}

#home {
    background-image: url(abstract_566.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

#home h1{
    text-align: left;
    padding-left: 40px;
    font-family: 'DM Serif Display', sans-serif;

    
}
#home h3{
    text-align: left;
    padding-left: 40px;
    font-family: 'Josefin Sans', sans-serif;

    
}
#hii {
 margin-top: 500px;
 margin-left: 370px;

}